/* Main */

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

.flex-row {
    display: flex;
}

.col-2 {
    flex: 0 0 20%;
}
.col-8 {
    flex: 0 0 80%;
}
.col-2-8 {
    flex: 20% 20% 80%
}

.col-10-offset-2 {
    margin-left: 20%;
}

/* Header */

header {
    width: 100%;
    display: flex;
    padding-top: 25px;
    border-bottom: 1px solid #dcdcdc;
}

.navigation {
    vertical-align: middle;
    text-align: center;
}

.navigation i {
    font-size: 20px;
    color: #454545;
    cursor: pointer;
}

.percentage {
    font-weight: 400;
}

header h1 {
    font-size: 2em;
    font-weight: 400;
}

/* Date */
.date {
    padding: 20px 0;
    border-bottom: 1px solid #dcdcdc;
}

.date-content {
    font-size: 14px;
    font-weight: 400;
    color: #454545;
}

.date-icon {
    text-align: center;
    color: #b0b0b0;
    vertical-align: middle;
    font-size: 16px;
    margin-top: -3px;
}

/* Event body */
.event-body {
    border-bottom: 1px solid #dcdcdc;
}
.event-body p {
    padding-right: 20px;
    line-height: 1.5;
    font-size: 16px;
}

/* Media */
.media {
    padding-top: 20px;
}